<h1 class="espacoLateral float_center">Edit Dish</h1>

<%= render 'form', dish: @dish %>

<div class="espacoTopo espacoLateral">
<%= link_to 'Show', @dish, class: "btn btn-outline-info" %>
<%= link_to 'Back', dishes_path, class: "btn btn-outline-dark" %>
</div>
