

<h1 class="espacoLateral float_center">New Dish</h1>

<%= render 'form', dish: @dish%>

<div class="espacoLateral espacoTopo">
  <%= link_to 'Back', dishes_path, class: "btn btn-outline-secondary"%>
</div>